@import "config/colors";

.container {
  background-color: white;
  background-image: url("images/lotr.jpg")
}

.movie_title_guessed h3 {
  color: $primary-color;
}

.movie_title_guessed h3:after {
  content:     "🎉";
  margin-left: 1em;
}

.movie_director_guessed h4 {
  color: green;
}

.movie_director_guessed  h4:after {
  content:     "🎉";
  margin-left: 1em;
}
