<div data-controller="example--component" class="<%= @classes %>">
  <h1><%= @title %></h1>

  <div>
    <p><%= body %></p>
    <button data-action="example--component#sayHello">Say hello</button>
  </div>
  <footer>
    <%= footer %>
  </footer>
</div>
